#container {
    width: 100vw;
    height: 100vh;
}
#start{
    position: relative;
    width: 100vw;

    user-select: none;
    font-size: 10vw;
    margin:auto;
    text-align: center;
}

#card{
    position: relative;
    width: 100vw;

    user-select: none;
    font-size: 30vmin;
    margin: auto;
    text-align: center;
}
#instructions{
    position: relative;
    width: 100vw;

    user-select: none;
    font-size: 5vmin;
    margin: auto;
    text-align: center;
}
